<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">WuTang Financial Bank</h1>
    <p class="lead">Serving America since 1991</p>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " [routerLink] = "['/']">Home </a>
      <a class="nav-item nav-link " [routerLink] = "['/accounts']">Accounts </a>
      <a class="nav-item nav-link " [routerLink] = "['/customers']">Customers </a>
      <a class="nav-item nav-link " [routerLink] = "['/transactions']">Transactions </a>
      <a class="nav-item nav-link active" [routerLink] = "['/bills']">Bills <span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<div class="container">
  <button type="button" id="viewAll" (click)="goToAllBills()" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false" autocomplete="off"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg> View All Bills</button>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h4>Bill Details</h4>
        </div>
        <div class="card-body">
            <div id="firstcard">
                <h5><b>Bill ID:</b> {{bill.id}}</h5>
                <h5><b>Staus:</b> {{bill.status}}</h5>
                <h5><b>Payee:</b> {{bill.payee}}</h5>
                <h5><b>Nickname:</b> {{bill.nickname}}</h5>
                <h5><b>Creation Date:</b> {{bill.creationDate}}</h5>
                <h5><b>Payment Date:</b> {{bill.paymentDate}}</h5>
                <h5><b>Upcoming Payment:</b> {{bill.upcomingPaymentDate}}</h5>
                <h5><b>Payment Amount:</b> {{bill.paymentAmount | currency}}</h5>
                <h5><b>Account ID:</b> {{bill.accountId}}</h5>
            </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>
<div class="buttons-flex">
  <button type="button" class="btn btn-outline-warning" (click)="goToEditBill()">Edit</button>
  <button type="button" class="btn btn-outline-danger" (click)="cancelBillButton()">Cancel</button>
 
</div>





