#list{
    margin: 10px;
}
.card{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
button{
    margin-left: 10px;
    margin-top: 30px;
}
.row{
    margin-bottom: 26px;
    justify-content: center;
}
.buttons-flex {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-evenly
}
.nav-item{
    font-weight: bolder;
  }

/* .card{
    margin-left: auto;
    margin-right: auto;
} */


