<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">WuTang Financial Bank</h1>
    <p class="lead">Serving America since 1991</p>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " [routerLink] = "['/']">Home </a>
      <a class="nav-item nav-link " [routerLink] = "['/accounts']">Accounts </a>
      <a class="nav-item nav-link active " [routerLink] = "['/customers']">Customers <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link " [routerLink] = "['/transactions']">Transactions </a>
      <a class="nav-item nav-link " [routerLink] = "['/bills']">Bills </a>
    </div>
  </div>
</nav>
<div id="editcustomer" class="container">
  <div class="card">
    <form [formGroup]="customerForm" (ngSubmit)="editCustomerButton()">
      <label for="" id="title1">Customer Information:</label>
      <br>
      <label for="">FirstName:
      <input [(ngModel)] = "customer.firstName" formControlName="firstName" /></label>
      <label for="">  LastName:
      <input [(ngModel)] = "customer.lastName" formControlName="lastName" /></label>
      <br>
      <label for="" id="title">Address:</label>
      <div formGroupName="address">
        <label for="">Street Number:
          <input [(ngModel)] = "customer.address[0].streetNumber" formControlName="streetNumber" />
          </label>
          <label  for="">Street Name:
          <input [(ngModel)] = "customer.address[0].streetName" formControlName="streetName" /></label>
          <label for=""> City:
          <input [(ngModel)] = "customer.address[0].city" formControlName="city" /></label>
          <label for="">State:
          <input [(ngModel)] = "customer.address[0].state" formControlName="state" /></label>
          <label for="">Zip:
          <input [(ngModel)] = "customer.address[0].zip" formControlName="zip" /></label>
      </div>
      <button class="btn btn-primary" *ngIf = "customer.address.length === 1"type="button" (click) = "addAddress()">Add Address</button>
      <button class="btn btn-primary" *ngIf = "customer.address.length === 2"type="button" (click) = "removeAddress()">Remove Address</button>
     <br>
      <label for="" id="title">Address 2 (Optional) :</label>
      <div *ngIf = "customer.address.length === 2" formGroupName="address1">
        <label for="">Street Number:
          <input [(ngModel)] = "customer.address[1].streetNumber" formControlName="streetNumber" />
          </label>
          <label for="">Street Name:
          <input [(ngModel)] = "customer.address[1].streetName" formControlName="streetName" /></label>
          <label for=""> City:
          <input [(ngModel)] = "customer.address[1].city" formControlName="city" /></label>
          <label for="">State:
          <input [(ngModel)] = "customer.address[1].state" formControlName="state" /></label>
          <label for="">Zip:
          <input [(ngModel)] = "customer.address[1].zip" formControlName="zip" /></label>
    </div>
    <br>  
    <button class="btn btn-primary" type="submit" [disabled]="!customerForm.valid">Save</button>
    </form>
  </div>
</div>
