
.container{
    margin-top: 30px;
}
.card2{
    margin-bottom: 50px;
}
button{
    margin-top: 10px;
    margin-right: 10px;
}
.row{
    margin-bottom: 26px;
}
#accountbills{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
#card2{
    margin-left: 150px;
    width: 300px;
}
#totalmonthly{
    text-align: center;
    color: darkgreen;
}
#filter{
    margin-top: 50px;
}
.nav-item{
    font-weight: bolder;
  }

